<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HIRU-DOKO - 店舗情報登録</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
		<link rel="icon" href="/material_img/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/material_img/favicon.ico" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
		<header>
			<h1 onclick="location.href='/lunchexplorer'" style="cursor: pointer;">
				<img src="/material_img/logo_mtt.svg" alt="LunchExplorer"></h1>
					
				<div class="search-bar">
						<form th:action="@{/detail/detailSearch}" method="get">
							<input type="text"name="storeName" placeholder="店舗名で検索"required><button type="submit">検索</button>
						</form>
						</div>
						
						<!-- エラーメッセージ表示エリア -->
								<div class="error-message" th:if="${errorMessage != null}">
								    <p th:text="${errorMessage}">エラーメッセージがここに表示されます</p>
								</div>

			<nav>
				<ul>
					<span th:if="${login_nickname == null}">
						<li><a th:href="@{/login}">ログイン</a></li>
						<li><a th:href="@{/login}">レビュー投稿</a></li>
						<li><a th:href="@{/users}">ユーザー登録</a></li>
					</span>
					<span th:if="${login_nickname != null}">
						<span th:text="${login_nickname}" style="font-size: 1.2em; font-weight: bold;">User</span>さん　　  
						<li><a th:href="@{/detail}">新規店舗登録＆レビュー</a></li>
						<!-- ログアウト -->
						    <form th:action="@{/logout}" method="post">
						        <input type="submit" value="ログアウト">
						    </form>									
					</span>
				</ul>
			</nav>
		</header>
		<main>
			<div class="content-wrapper">
				<section class="main-content">
					<div class="form-card">
    <h1>メニュー情報を入力してください</h1>

    <!-- 店舗情報の登録フォーム -->
    <form th:action="@{/detail/detailsave}" method="post" enctype="multipart/form-data" th:object="${storesForm}">
        <div th:object="${storesForm}" style="padding: 5px 0px;">
            <label for="storeName">店舗名</label>
            <input type="text" id="storeName"th:field="*{storeName}" 
					th:disabled="${not #fields.hasErrors('storeName') and storesForm.storeName != null}" 
					required>
        </div>
        <div th:object="${storesForm}" style="padding: 5px 0px;">
            <label for="storeTel">電話番号:</label>
            <input type="text" th:field="*{storeTel}" 
			th:disabled="${not #fields.hasErrors('storeTel') and storesForm.storeTel != null}" 
			required>
        </div>
        <div th:object="${storesForm}" style="padding: 5px 0px;">
            <label for="storeAddress">店舗住所:</label>
            <input type="text" th:field="*{storeAddress}"
			th:disabled="${not #fields.hasErrors('storeAddress') and storesForm.storeAddress != null}" >
        </div>
        <div th:object="${storesForm}"		style="padding: 5px 0px;">
            <label for="storeUrl">店舗ホームページ:</label>
            <input type="text" th:field="*{storeUrl}"
			th:disabled="${not #fields.hasErrors('storeUrl') and storesForm.storeUrl != null}" >
        </div>
        <div th:object="${storesForm}">
            <input type="hidden" th:field="*{storeUserMail}" 
			th:disabled="${not #fields.hasErrors('storeUserMail') and storesForm.storeUserMail != null}" 
			required>
        </div>
		<!-- 詳細情報の登録フォーム -->
		 <div th:object="${detailForm}"		 style="padding: 5px 0px;">
			<label for="detailPostdt">投稿日:</label>
			<input type="date" id="detailPostdt" name="detailPostdt" required>
		 </div>
		 
		 <div th:object="${detailForm}">
		       <input type="hidden" th:field="*{ditailUserMail}" required>
		 </div>
		 <div th:object="${detailForm}"		 style="padding: 5px 0px;">
		        <label for="detailMenu">メニュー名</label>
		        <input type="text" th:field="*{detailMenu}" required>
		 </div>
		 <div th:object="${detailForm}"		 style="padding: 5px 0px;">
			     <label for="detailPrice">金額</label>
			     <input type="text" th:field="*{detailPrice}" required>
		 </div>
		 <div th:object="${detailForm}"		 style="padding: 5px 0px;">
			     <label for="detailRating">評価</label>
			     <input type="text" th:field="*{detailRating}" required>
		</div>
		<div th:object="${detailForm}"		style="padding: 5px 0px;">
		    <label for="detailReviewFlag">レビュー表示フラグ</label>
		    <input type="checkbox" th:field="*{detailReviewFlag}" id="detailReviewFlag" th:checked="true">
		</div>
		<div th:object="${detailForm}"		style="padding: 5px 0px;">
			     <label for="detailReview">レビュー</label>
			     <input type="text" th:field="*{detailReview}">
		</div>
		<div th:object="${detailForm}"		style="padding: 5px 0px;">
				 <label for="detailMemo">メモ</label>
				 <input type="text" th:field="*{detailMemo}">
		</div>
		<div th:object="${detailForm}"		style="padding: 5px 0px;">
		    <label for="detailUsedt">利用付日</label>
		    <input type="date" id="detailUsedt" th:field="*{detailUsedt}" required>
		</div>
		<script>
		    window.onload = function() {
		        const today = new Date().toISOString().split('T')[0];
		        document.getElementById('detailUsedt').value = today;
		    };
		</script>
		<div th:object="${detailForm}"		style="padding: 5px 0px;">
				 <label for="detailVisits">来店回数</label>
				 <input type="text" th:field="*{detailVisits}" required>
		</div>
		<div th:object="${detailForm}" style="padding: 5px 0px;">
				<label for="file">画像ファイル</label>
		        <input type="file" name="file"/>
		</div>
				<br>
		 		<button type="submit" style="padding: 5px 0px; width: 150px;">登録</button>
				<!-- Flash Attributeメッセージを表示 -->
				<p th:if="${message}" th:text="${message}"></p>
    </form>

	<script>
	    window.onload = function() {
	        // 当日日付を取得し、"YYYY-MM-DD"の形式に整形
	        const today = new Date().toISOString().split('T')[0];
	        
			document.getElementById('detailPostdt').value = today;
			document.getElementById('detailUsedt').max = today;
			
	        // 当日日付のみ入力可能に設定
	        const dateInput = document.getElementById('detailPostdt');
	        dateInput.min = today;
	        dateInput.max = today;
	    };
	</script>
</body>
</html>
