<!--更新　深田　1023　メモ：トップページを本格的にするためコードをを変更-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HIRU-DOKO</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="icon" href="/material_img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/material_img/favicon.ico" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
	<style>
	</style>
</head>
<body>
	<header>
		<h1 onclick="location.href='/lunchexplorer'" style="cursor: pointer;"><img src="/material_img/logo_mtt.svg" alt="LunchExplorer"></h1> <!-- ロゴをクリックするとトップページに戻る -->
		<div class="search-bar">
			<form th:action="@{/lunchexplorer/topSearch}" method="get">
			<input type="text" name="storeName" placeholder="店舗名で検索"required>
			<button type="submit">検索</button>
		</form>
		</div>
		<nav>
			<ul>
				<span th:if="${login_nickname == null}"> <!-- ログインしていない場合の表示 -->
					<li><a th:href="@{/login}">ログイン　</a></li>
					<li><a th:href="@{/login}">レビュー投稿　</a></li>
					<li><a th:href="@{/register}">ユーザー登録</a></li>
				</span>
				<span th:if="${login_nickname != null}">
					<span th:text="${login_nickname}">User</span>さん  
					<li><a th:href="@{/detail}">新規店舗登録＆レビュー</a></li>
					<!-- ログアウト -->
					    <form th:action="@{/logout}" method="post">
					        <input type="submit" value="ログアウト">
					    </form>
				</span>
			</ul>
		</nav>
	</header>
	<main>
		<div class="content-wrapper">
			<section class="main-content">
				<div class="store-cards">
					<!-- 店舗情報をループで表示 -->
					<th:block th:each="store : ${stores}">
						<div class="store-card">
							<h3 th:text="${store.store_name}" style="margin-right: 0px; cursor: pointer;" th:onclick="|location.href='/lunchexplorer/details/' + (${store.store_id})|">店舗名</h3> <!-- 店舗名をクリックすると詳細ページに遷移 -->
							<div class="text-blocks">
								<div class="text-block1">
									<span class="store-text">
										<p class="icon-text">
											<img src="/icons/phone_icon.svg" width="16" height="16">
											<span th:text="${store.store_tel}">電話番号</span>
										</p>
										<th:block th:if="${store.store_address} != null">
											<p class="icon-text">
												<img src="/icons/address_icon.svg" width="16" height="16">
												<a th:href="@{'https://www.google.com/maps/search/?api=1&query=' + ${store.store_name} + ' ' + ${store.store_address}}" target="_blank" th:text="${store.store_address}">住所</a>
											</p>
										</th:block>
										<th:block th:if="${store.store_url} != null">
											<p class="icon-text">
												<img src="/icons/url_icon.svg" width="16" height="16" style="vertical-align: middle; margin-right: 5px;">
												<a th:href="${store.store_url}" target="_blank" th:text="WEBサイトを開く" rel="noopener noreferrer"></a>
											</p>
										</th:block>
									</span>
								</div>
								<div class="text-block2">
									<button onclick="location.href='/detail/' + (${store.store_id})">
										<p class="icon-text"><img src="/icons/write_icon_w.svg" width="16" height="16">レビュー</p></button>
								</div>
							</div>
							<div class="review-container">
								<th:block th:each="detail : ${store.detailList}">
									<div class="review" th:style="${detail.detail_image} != null ? 'background-image: url(/images/' + ${detail.detail_image} + ');background-position: center;background-size: cover;' : 'background-image: url(/material_img/default_menu_img.svg);background-position: center;background-size: cover;'" th:onclick="|location.href='/lunchexplorer/details/' + (${store.store_id})|">
										<div class="review-text">
											<p class="icon-text menu-name">
												<img src="/icons/menu_icon_w.svg" width="16" height="16">
												<span th:text="${detail.detail_menu}">メニュー</span>
											</p>
											<p class="icon-text menu-name">
												<img src="/icons/price_icon_w.svg" width="16" height="16">
												<span th:text="${detail.detail_price} + '円'">価格</span>
												<img src="/icons/rating_icon_w.svg" width="16" height="16" style="margin-left: 10px;">
												<span th:text="${detail.detail_rating}">評価</span>
											</p>
											<p class="icon-text">
												<img src="/icons/comment_icon_w.svg" width="16" height="16">
												<span th:text="${detail.detail_review}">レビュー</span>
											</p>
										</div>
									</div>
								</th:block>
							</div>
						</div>
					</th:block>
				</div>
			</section>
			<aside class="ad-area">
				<!-- 広告スペースの例 -->
				<div class="ad-banner" style="width: 100%; height: auto; margin-bottom: 10px;">
					<a href="https://cal.co.jp/about/business/education/" target="_blank" rel="noopener noreferrer">
						<img src="/material_img/ad_1.png" alt="広告1" style="width: 100%; height: 100%; object-fit: cover;">
					</a>
				</div>
				<div class="ad-banner" style="width: 100%; height: auto; margin-bottom: 10px;">
					<a href="https://www.hellowork.mhlw.go.jp/index.html" target="_blank" rel="noopener noreferrer">
						<img src="/material_img/ad_2.png" alt="広告2" style="width: 100%; height: 100%; object-fit: cover;">
					</a>
				</div>
			</aside>
		</div>
	</main>
	<footer>
		<p>&copy; 2024 LunchExplorer</p>
	</footer>
	<style>
		@media (max-width: 768px) {
			.ad-area {
				display: none;
			}
		}
	</style>
</body>
</html>
