<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HIRU-DOKO - ログイン</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
		<link rel="icon" href="/material_img/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/material_img/favicon.ico" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
		<style>
		</style>
	</head>
<body>
		<header>
			<h1 onclick="location.href='/lunchexplorer'" style="cursor: pointer;"><img src="/material_img/logo_mtt.svg" alt="LunchExplorer"></h1> <!-- ロゴをクリックするとトップページに戻る -->
			<div class="search-bar">
				<form th:action="@{/lunchexplorer/topSearch}" method="get">
					<input type="text" name="storeName" placeholder="店舗名で検索"required><button type="submit">検索</button><div>
	<!-- エラーメッセージ表示エリア -->
			<div class="error-message" th:if="${errorMessage != null}">
			    <span th:text="${errorMessage}">エラーメッセージがここに表示されます</span>
			</div>
			</form>
		</div>
			</div>
			<nav>
				<ul>
					<span th:if="${login_nickname == null}"> <!-- ログインしていない場合の表示 -->
						<li><a th:href="@{/login}">ログイン　</a></li>
						<li><a th:href="@{/login}">レビュー投稿　</a></li>
						<li><a th:href="@{/users}">ユーザー登録</a></li>
					</span>
					<span th:if="${login_nickname != null}">
						<span th:text="${login_nickname}" style="font-size: 1.2em; font-weight: bold;">User</span>さん　　  
						<li><a th:href="@{/detail}">新規店舗登録＆レビュー</a></li>
						<!-- ログアウト -->
						    <form th:action="@{/logout}" method="post">
						        <input type="submit" value="ログアウト">
						    </form>
					</span>
				</ul>
			</nav>
		</header>
	<main>
		<div class="content-wrapper">
			<section class="main-content">
				<div class="form-card">
					<h1>ログイン情報を入力</h1>
					<table>
						<!--エラーー表示-->
					<div th:if="${param.error}">
						<p style="color: red;">usernameまたはpasswordが違います</p>
					</div>
					<!--ログアウト表示 -->
					<div th:if="${param.logout}">
						<p style="color: blue">ログアウトしました</p>
					</div>				 
					<form th:action="@{/authentication}" th:object="${loginForm}" method="post"> 
						<div>
							<label for="usernameInput">メールアドレス:</label>
							<input type="text" name="username" id="usernameInput" th:field="*{username}" required>
						</div>
						<div>
							<label for="passwordInput">パスワード:</label>
						 	<input type="password" name="password" id="passwordInput" th:field="*{password}" required>
						</div>
						<div>
							<input type="submit" value="ログイン">
						</div>
					</form>
						</table>
			</div>
		</section>
	</div>
</main>
	<aside class="ad-area">
		<div class="ad-banner" style="width: 100%; height: auto; margin-bottom: 10px;">
			<a href="https://cal.co.jp/about/business/education/" target="_blank" rel="noopener noreferrer">
				<img src="/material_img/ad_1.png" alt="広告1" style="width: 100%; height: 100%; object-fit: cover;">
			</a>
		</div>
		<div class="ad-banner" style="width: 100%; height: auto; margin-bottom: 10px;">
			<a href="https://www.hellowork.mhlw.go.jp/index.html" target="_blank" rel="noopener noreferrer">
				<img src="/material_img/ad_2.png" alt="広告2" style="width: 100%; height: 100%; object-fit: cover;">
			</a>
		</div>
	</aside>

	
    <footer>
        <p>&copy; 2024 LunchExplorer</p>
    </footer>
</body>
</html>
