<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LunchExplorer - ログイン</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<!--エラーー表示-->
	<div th:if="${param.error}">
	<p style="color: red;">usernameまたはpasswordが違います</p>
	</div>
	<!--ログアウト表示 -->
	<div th:if="${param.logout}">
	<p style="color: blue">ログアウトしました</p>
	</div>
    <header>
        <h1>LunchExplorer - ログイン</h1>
    </header>
    <main>
        <section>
			<!-- ログイン後処理追加 2024/10/30　糸山> -->
			<!-- "@{/login}"→"@{/authentication}"へ変更 -->
				<form th:action="@{/authentication}" th:object="${loginForm}" method="post"> 
               <div>
                    <label for="usernameInput">ユーザー名:</label>
					<input type="text" name="username" id="usernameInput" th:field="*{username}" required>
                </div>
                <div>
                    <label for="passwordInput">パスワード:</label>
					<input type="password" name="password" id="passwordInput" th:field="*{password}" required>
                </div>
				<div>
					<input type="submit" value="login">
				</div>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 LunchExplorer</p>
    </footer>
</body>
</html>
