<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HIRU-DOKO - ユーザー登録</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> <!-- 必要に応じてスタイルシートを追加 -->
		<style>
		</style>
	</head>
<body>
		<header>
			<h1 onclick="location.href='/lunchexplorer'" style="cursor: pointer;"><img src="/material_img/logo_mtt.svg" alt="LunchExplorer"></h1> <!-- ロゴをクリックするとトップページに戻る -->
			<div class="search-bar">
				<form th:action="@{/lunchexplorer/topSearch}" method="get">
					<input type="text" name="storeName" placeholder="店舗名で検索"required><button type="submit">検索</button><div>
	<!-- エラーメッセージ表示エリア -->
			<div class="error-message" th:if="${errorMessage != null}">
			    <span th:text="${errorMessage}">エラーメッセージがここに表示されます</span>
			</div>
			</form>
		</div>
			</div>
			<nav>
				<ul>
					<span th:if="${login_nickname == null}"> <!-- ログインしていない場合の表示 -->
						<li><a th:href="@{/login}">ログイン　</a></li>
						<li><a th:href="@{/login}">レビュー投稿　</a></li>
						<li><a th:href="@{/users}">ユーザー登録</a></li>
					</span>
					<span th:if="${login_nickname != null}">
						<span th:text="${login_nickname}" style="font-size: 1.2em; font-weight: bold;">User</span>さん　　  
						<li><a th:href="@{/detail}">新規店舗登録＆レビュー</a></li>
						<!-- ログアウト -->
						    <form th:action="@{/logout}" method="post">
						        <input type="submit" value="ログアウト">
						    </form>
					</span>
				</ul>
			</nav>
		</header>
	<main>
		<div class="content-wrapper">
			<section class="main-content">
				<table>
					<div class="form-card">
					<h1>ユーザー情報を入力</h1>
			<!--フラッシュメッセージの表示-->
				<p th:if="${message}" th:text="${message}" 
				style="color: blue;">完了メッセージ
				</p>
				<p th:if="${errorMessage}" th:text="${errorMessage}"
				style="color: red;">検索エラーメッセージ
			    </p> 
			<!--アクション:登録or編集-->
	
	        <form th:action="@{/users/usersave}"
				th:object="${usersForm}" method="post">
	            <div>
	                <label for="userMail">ユーザー名(メールアドレス):</label>
						<input type="text" th:field="*{userMail}" required>
	              
	            </div>
	            <div>
	                <label for="userNickname">ニックネーム:</label>
					<input type="text" th:field="*{userNickname}" required>
	           
	            </div>
				
				<div>
				    <label for="userPassword">パスワード:</label>
					<input type="text" th:field="*{userPassword}" required>
				</div>
				
				<div><button type="submit" style="width: 150px;">登録</button></div>
	        </form>
				</table>
				
	    </section>
		</div>
		
	</main>

	<footer>
	    <p>&copy; 2024 LunchExplorer</p>
	</footer>
</body>
</html>