<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--作成日：2024/10/22  -->
<!--作成者：糸山  -->
<!--更新：　2024/10/28　永井　resoltMapはDetailListMapperに移し、resoltMapでない形に変更-->

<!-- ************************ -->
<mapper namespace="com.example.lunchex.repository.DetailMapper">
    <!-- 全件検索 -->
    <select id="getAllDetails" resultType="com.example.lunchex.entity.Detail">
        SELECT detail_id,store_id,detail_postdt,user_mail,detail_menu,detail_price,
        detail_rating,detail_review_flag,detail_review,detail_image,detail_memo,
        detail_usedt,detail_visits FROM detail
    </select>
    <!-- １件検索 -->
    <select id="getDetailById" resultType="com.example.lunchex.entity.Detail">
        SELECT detail_id,store_id,detail_postdt,user_mail,detail_menu,detail_price,
        detail_rating,detail_review_flag,detail_review,detail_image,detail_memo,
        detail_usedt,detail_visits FROM detail WHERE detail_id = #{id}
    </select>
    <!-- 特定ユーザー検索 -->
    <select id="getDetailsByUser" resultType="com.example.lunchex.entity.Detail">
        SELECT detail_id,store_id,detail_postdt,user_mail,detail_menu,detail_price,
        detail_rating,detail_review_flag,detail_review,detail_image,detail_memo,
        detail_usedt,detail_visits FROM detail WHERE detail_id = #{user_mail}
    </select>
    <!-- 登録 -->
    <insert id="addDetail">
	    INSERT INTO detail (store_id,detail_postdt,user_mail,detail_menu,
	    detail_price,detail_rating,detail_review_flag,detail_review,detail_image,
	    detail_memo,detail_usedt,detail_visits) 
	    VALUES 
	    (#{store_id},#{detail_postdt},#{user_mail},#{detail_menu},
	    #{detail_price},#{detail_rating},#{detail_review_flag},#{detail_review},
	    #{detail_image},#{detail_memo},#{detail_usedt},#{detail_visits})
    </insert>
    <!-- 更新 -->
    <update id="updateDetail">
	    UPDATE detail SET detail_id=#{detail_id},
	    store_id=#{store_id},
	    detail_postdt=#{detail_postdt},
	    user_mail=#{user_mail},
	    detail_menu=#{detail_menu},
	    detail_price=#{detail_price},
	    detail_rating=#{detail_rating},
	    detail_review_flag=#{detail_review_flag},
	    detail_review=#{detail_review},
	    detail_image=#{detail_image},
	    detail_memo=#{detail_memo},
	    detail_usedt=#{detail_usedt},
	    detail_visits=#{detail_visits} WHERE detail_id = #{detail_id}
    </update>
    <!-- 削除 -->
    <delete id="deleteDetail">
        DELETE FROM detail WHERE detail_id = #{id}
    </delete>
</mapper>



<!-- **************************** -->

<!--<mapper namespace="com.example.lunchex.repository.DetailMapper">-->

<!--<resultMap id="DetailListResult" type="com.example.lunchex.entity.Detail">-->
<!--      Detailエンティティをマッピング -->
<!--    <id property="detail_id" column="detail_id"/>-->
<!--    <result property="store_id" column="store_id"/>-->
<!--    <result property="detail_postdt" column="detail_postdt"/>-->
<!--    <result property="user_mail" column="user_mail"/>-->
<!--    <result property="detail_menu" column="detail_menu"/>-->
<!--    <result property="detail_price" column="detail_price"/>-->
<!--    <result property="detail_rating" column="detail_rating"/>-->
<!--    <result property="detail_review_flag" column="detail_review_flag"/>-->
<!--    <result property="detail_review" column="detail_review"/>-->
<!--    <result property="detail_image" column="detail_image"/>-->
<!--    <result property="detail_memo" column="detail_memo"/>-->
<!--    <result property="detail_usedt" column="detail_usedt"/>-->
<!--    <result property="detail_visits" column="detail_visits"/>-->

<!--     Storesテーブルのフィールドをマッピング -->
<!--<association property="stores" javaType="com.example.lunchex.entity.Stores">-->
<!--      <id property="store_id" column="store_id"/>-->
<!--      <result property="store_name" column="store_name"/>-->
<!--      <result property="store_tel" column="store_tel"/>-->
<!--      <result property="store_address" column="store_address"/>-->
<!--      <result property="store_url" column="store_url"/>-->
<!--      <result property="user_mail" column="user_mail"/>-->
<!--    </association>-->

<!--     Usersエンティティをマッピング -->
<!--    <association property="users" javaType="com.example.lunchex.entity.Users">-->
<!--      <id property="user_mail" column="user_mail"/>-->
<!--      <result property="user_nickname" column="user_nickname"/>-->
<!--      <result property="user_password" column="user_password"/>-->
<!--    </association>-->
<!--  </resultMap>-->

<!--   詳細検索 -->
<!--  <select id="getDetailsByUser" resultMap="DetailListResult">-->
<!--    SELECT -->
<!--      d.detail_id,-->
<!--      d.store_id,-->
<!--      s.store_name,-->
<!--      s.store_tel,-->
<!--      s.store_address,-->
<!--      s.store_url,-->
<!--      d.detail_postdt,-->
<!--      d.user_mail,-->
<!--      u.user_nickname,-->
<!--      d.detail_menu,-->
<!--      d.detail_price,-->
<!--      d.detail_rating,-->
<!--      d.detail_review_flag,-->
<!--      d.detail_review,-->
<!--      d.detail_image,-->
<!--      d.detail_memo,-->
<!--      d.detail_usedt,-->
<!--      d.detail_visits-->
<!--    FROM detail AS d-->
<!--    INNER JOIN stores AS s ON d.store_id = s.store_id-->
<!--    INNER JOIN users AS u ON d.user_mail = u.user_mail-->
<!--    WHERE d.user_mail = #{user_mail};-->
<!--  </select>-->

<!--  	 詳細追加 -->
<!--  	<insert id="addDetail" parameterType="com.example.lunchex.entity.Detail">-->
<!--   	INSERT INTO detail -->
<!--     	 (store_id, -->
<!--      	detail_postdt, -->
<!--      	user_mail, -->
<!--      	detail_menu, -->
<!--      	detail_price, -->
<!--      	detail_rating, -->
<!--      	detail_review_flag, -->
<!--      	detail_review, -->
<!--      	detail_image, -->
<!--      	detail_memo, -->
<!--     	detail_usedt, -->
<!--      	detail_visits-->
<!--      	) -->
<!--    VALUES -->
<!--      (-->
<!--      	#{store_id}, -->
<!--      	#{detail_postdt}, -->
<!--      	#{user_mail},-->
<!--      	#{detail_menu}, -->
<!--      	#{detail_price}, -->
<!--      	#{detail_rating}, -->
<!--      	#{detail_review_flag}, -->
<!--      	#{detail_review}, -->
<!--      	#{detail_image}, -->
<!--      	#{detail_memo}, -->
<!--      	#{detail_usedt}, -->
<!--      	#{detail_visits}-->
<!--      );-->
<!--  	</insert>-->
<!--  	 詳細更新 -->
<!--    <update id="updateDetail" parameterType="com.example.lunchex.entity.Detail">-->
<!--    	UPDATE detail-->
<!--   		 SET store_id = #{store_id}, -->
<!--      		detail_postdt = #{detail_postdt}, -->
<!--      		user_mail = #{user_mail}, -->
<!--      		detail_menu = #{detail_menu}, -->
<!--      		detail_price = #{detail_price}, -->
<!--      		detail_rating = #{detail_rating}, -->
<!--      		detail_review_flag = #{detail_review_flag}, -->
<!--      		detail_review = #{detail_review}, -->
<!--      		detail_image = #{detail_image}, -->
<!--      		detail_memo = #{detail_memo}, -->
<!--      		detail_usedt = #{detail_usedt}, -->
<!--      		detail_visits = #{detail_visits}-->
<!--   		 WHERE detail_id = #{detail_id};-->
<!-- 	</update>-->
<!-- 	 詳細削除 -->
<!--	<delete id="">-->
<!--		DELETE FROM detail-->
<!--		WHERE detail_id = #{detail_id};-->
<!--	</delete>-->
<!--</mapper>-->