<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--作成日：2024/10/22  -->
<!--作成者：糸山  -->
<!--更新：　2024/10/28　永井　resoltMapはDetailListMapperに移し、resoltMapでない形に変更-->

<!-- ************************ -->
<mapper namespace="com.example.lunchex.repository.DetailMapper">
    <!-- 全件検索 -->
    <select id="getAllDetails" resultType="com.example.lunchex.entity.Detail">
        SELECT detail_id,store_id,detail_postdt,user_mail,detail_menu,detail_price,
        detail_rating,detail_review_flag,detail_review,detail_image,detail_memo,
        detail_usedt,detail_visits FROM detail
    </select>
    <!-- １件検索 -->
    <select id="getDetailById" resultType="com.example.lunchex.entity.Detail">
        SELECT detail_id,store_id,detail_postdt,user_mail,detail_menu,detail_price,
        detail_rating,detail_review_flag,detail_review,detail_image,detail_memo,
        detail_usedt,detail_visits FROM detail WHERE detail_id = #{id}
    </select>
    <!-- 特定ユーザー検索 -->
    <select id="getDetailsByUser" resultType="com.example.lunchex.entity.Detail">
        SELECT detail_id,store_id,detail_postdt,user_mail,detail_menu,detail_price,
        detail_rating,detail_review_flag,detail_review,detail_image,detail_memo,
        detail_usedt,detail_visits FROM detail WHERE detail_id = #{user_mail}
    </select>
    <!-- 登録 -->
    <insert id="addDetail">
	    INSERT INTO detail (store_id,detail_postdt,user_mail,detail_menu,
	    detail_price,detail_rating,detail_review_flag,detail_review,detail_image,
	    detail_memo,detail_usedt,detail_visits) 
	    VALUES 
	    (#{store_id},#{detail_postdt},#{user_mail},#{detail_menu},
	    #{detail_price},#{detail_rating},#{detail_review_flag},#{detail_review},
	    #{detail_image},#{detail_memo},#{detail_usedt},#{detail_visits})
    </insert>
    <!-- 更新 -->
    <update id="updateDetail">
	    UPDATE detail SET detail_id=#{detail_id},
	    store_id=#{store_id},
	    detail_postdt=#{detail_postdt},
	    user_mail=#{user_mail},
	    detail_menu=#{detail_menu},
	    detail_price=#{detail_price},
	    detail_rating=#{detail_rating},
	    detail_review_flag=#{detail_review_flag},
	    detail_review=#{detail_review},
	    detail_image=#{detail_image},
	    detail_memo=#{detail_memo},
	    detail_usedt=#{detail_usedt},
	    detail_visits=#{detail_visits} WHERE detail_id = #{detail_id}
    </update>
    <!-- 削除 -->
    <delete id="deleteDetail">
        DELETE FROM detail WHERE detail_id = #{id}
    </delete>
</mapper>