<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--作成日：2024/10/17  -->
<!--作成者：糸山  -->
<!--更新日：2024/10/21  -->
<!--更新者：糸山  -->
<mapper namespace="com.example.lunchex.repository.LunchexListMapper">

<!-- Storeｓ全件検索 -->
    <select id="selectStoreListAll" resultType="com.example.lunchex.entity.Stores">
        SELECT store_id,store_name,store_tel,store_address,store_url,user_mail
         FROM stores
    </select> 
    
<!-- 店舗情報とユーザー情報と詳細情報の関係設定 -->
	<resultMap id="StoresListResult" type="com.example.lunchex.entity.Stores">
    <!-- Storesテーブルのフィールドをマッピング -->
    <id property="store_id" column="store_id"/>
    <result property="store_name" column="store_name"/>
    <result property="store_tel" column="store_tel"/>
    <result property="store_address" column="store_address"/>
    <result property="store_url" column="store_url"/>
    <result property="user_mail" column="user_mail"/>
    
    <!-- Usersエンティティをマッピング -->
    <association property="users" javaType="com.example.lunchex.entity.Users">
        <id property="user_mail" column="user_mail"/>
        <result property="user_nickname" column="user_nickname"/>
        <result property="user_password" column="user_password"/>
    </association>
    
    <!-- Detailエンティティをマッピング -->
    <association property="detail" javaType="com.example.lunchex.entity.Detail">
        <id property="detail_id" column="detail_id"/>
        <result property="store_id" column="store_id"/>
        <result property="detail_postdt" column="detail_postdt"/>
        <result property="user_mail" column="user_mail"/>
        <result property="detail_menu" column="detail_menu"/>
        <result property="detail_price" column="detail_price"/>
        <result property="detail_rating" column="detail_rating"/>
        <result property="detail_review_flag" column="detail_review_flag"/>
        <result property="detail_review" column="detail_review"/>
        <result property="detail_image" column="detail_image"/>
        <result property="detail_memo" column="detail_memo"/>
        <result property="detail_usedt" column="detail_usedt"/>
        <result property="detail_visits" column="detail_visits"/>
    </association>
	</resultMap>

<!-- トップページ -->
<!-- 一覧表示 -->
	<select id = "selectStoreListPickDt" resultMap="StoresListResult">
		SELECT 
			d.detail_id ,
			s.store_id ,
			s.store_name,
			s.store_tel,
			s.store_address,
			s.store_url,
			d.detail_postdt,
			d.user_mail,
			u.user_nickname,
			d.detail_menu ,
			d.detail_price ,
			d.detail_rating ,
			d.detail_review_flag ,
			d.detail_review ,
			d.detail_image ,
			d.detail_memo ,
			d.detail_usedt ,
			d.detail_visits 
		FROM detail AS d
		INNER JOIN stores AS s ON s.store_id = d.store_id
		INNER JOIN users AS u ON d.user_mail = u.user_mail
		WHERE 
    			d.detail_postdt = (
        		SELECT MAX(d2.detail_postdt)
        		FROM detail AS d2
        		WHERE d2.store_id = d.store_id
    			)
		ORDER BY s.store_id;
	</select>
<!-- 対象店舗一覧検索 -->
	<select id = "selectPickStoreList" resultMap="StoresListResult">
		SELECT 
			s.store_id ,
			s.store_name,
			s.store_tel,
			s.store_address,
			s.store_url,
			d.detail_id ,
			d.detail_postdt,
			d.user_mail,
			u.user_nickname,
			d.detail_menu ,
			d.detail_price ,
			d.detail_rating ,
			d.detail_review_flag ,
			d.detail_review ,
			d.detail_image ,
			d.detail_memo ,
			d.detail_usedt ,
			d.detail_visits 
		FROM stores AS s
		RIGHT JOIN detail AS d ON s.store_id = d.store_id
		INNER JOIN users AS u ON s.user_mail = u.user_mail
		WHERE 
    			s.store_id = #{store_id}
		ORDER BY d.detail_postdt DESC;
	</select>
</mapper>
<!--</mapper> -->