<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lunchex.repository.StoresMapper">
<!-- 詳細ページ --><!-- 24/10/21 ：糸山 -->
<!-- 対象店舗一覧検索 -->
<!-- <select id = "selectPickStoreList" resultMap="StoresListResult">
		SELECT 
			d.detail_id ,
			s.store_id ,
			s.store_name,
			s.store_tel,
			s.store_address,
			s.store_url,
			d.detail_postdt,
			d.user_mail,
			u.user_nickname,
			d.detail_menu ,
			d.detail_price ,
			d.detail_rating ,
			d.detail_review_flag ,
			d.detail_review ,
			d.detail_image ,
			d.detail_memo ,
			d.detail_usedt ,
			d.detail_visits 
		FROM detail AS d
		INNER JOIN stores AS s ON s.store_id = d.store_id
		INNER JOIN users AS u ON d.user_mail = u.user_mail
		WHERE 
    			s.store_id = #{store_id}
		ORDER BY d.detail_postdt DESC;
	</select>
	
	<!-- 店舗登録 --><!-- 24/10/21 ：糸山 -->
	<!-- 店舗検索 -->
<!--	<select id="selectStore" resultType="com.example.lunchex.entity.Stores">
        SELECT 
        	store_id,store_name,
        	store_tel,
        	store_address,
        	store_url,
        	user_mail
         FROM stores
         WHERE 
    		store_id = #{store_id};
    </select> 
    <!-- 店舗登録 -->
<!--	<INSERT id="insertStore" resultType="com.example.lunchex.entity.Stores">
		INSERT INTO 
			stores(store_name,
				store_tel,
				store_address,
				store_url,
				user_mail)
			VALUES(#{store_name},
				#{store_tel},
				#{store_address},
				#{store_url},
				#{user_mail};	
	</INSERT>
	<!-- 店舗更新 -->
<!--	<UPDATE id="updateStore" resultType="com.example.lunchex.entity.Stores">
		UPDATE stores
		SET store_name = #{store_name},
			store_tel = #{store_tel},
			store_address = #{store_address},
			store_url = #{store_url},
			user_mail = #{user_mail}
		WHERE store_id = #{store_id};
	</UPDATE>
	<!-- 店舗削除 -->
<!--	<DELETE id="deleteStore" resultType="com.example.lunchex.entity.Stores">
		DELETE FROM stores
		WHERE store_id = #{store_id}
	</DELETE> -->
</mapper>