<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--作成日：2024/10/21  -->
<!--作成者：糸山  -->
<!--更新日：  -->
<!--更新者：  -->
<mapper namespace="com.example.lunchex.repository.StoresMapper">
	<!-- 店舗登録機能用 --><!-- 24/10/21 ：糸山 -->
	<!-- 店舗検索 -->
	<select id="getStoreAll" resultType="com.example.lunchex.entity.Stores">
		 SELECT 
        	store_id,
        	store_name,
        	store_tel,
        	store_address,
        	store_url,
        	user_mail
         FROM stores;
	</select>
	<select id="getStoreById" resultType="com.example.lunchex.entity.Stores">
        SELECT 
        	store_id,
        	store_name,
        	store_tel,
        	store_address,
        	store_url,
        	user_mail
         FROM stores
         WHERE 
    		store_id = #{store_id};
    </select> 
    <select id="getStoreByName" resultType="com.example.lunchex.entity.Stores">
        SELECT 
        	store_id,
        	store_name,
        	store_tel,
        	store_address,
        	store_url,
        	user_mail
         FROM stores
         WHERE 
    		store_name = #{store_name};
    </select> 
    <!-- 店舗登録 -->
	<insert id="addStore" parameterType="com.example.lunchex.entity.Stores">
		INSERT INTO 
			stores(store_name,
				store_tel,
				store_address,
				store_url,
				user_mail)
			VALUES(#{store_name},
				#{store_tel},
				#{store_address},
				#{store_url},
				#{user_mail});
	</insert>
	<!-- 店舗更新 -->
	<update id="updateStore" parameterType="com.example.lunchex.entity.Stores">
		UPDATE stores
		SET store_name = #{store_name},
			store_tel = #{store_tel},
			store_address = #{store_address},
			store_url = #{store_url},
			user_mail = #{user_mail}
		WHERE store_name = #{store_name};
	</update>
	<!-- 店舗削除 -->
	<delete id="deleteStore" parameterType="com.example.lunchex.entity.Stores">
		DELETE FROM stores
		WHERE store_name = #{store_name}
	</delete>
</mapper>