<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--作成日：2024/10/22  -->
<!--作成者：糸山  -->
<!--更新日：  -->
<!--更新者：  -->
<mapper namespace="com.example.lunchex.repository.UsersMapper">
<!-- ユーザー名で認証情報を検索 -->
	<select id="selectByUsername" resultType="com.example.lunchex.entity.Users">
	SELECT user_mail, user_nickname 
	FROM authentications 
	WHERE username =
	#{username}
	</select>
  <!-- ユーザー全件検索 -->
  	<select id="getAllUsers" parameterType="com.example.lunchex.entity.Users">
 		SELECT 
    		user_mail,
			user_nickname,
      		user_password
      	From users
   		WHERE user_mail = #{user_mail};
  	</select>
  <!-- ユーザー検索 -->
 	<select id="getUserByMail"  parameterType="com.example.lunchex.entity.Users">
  		SELECT 
    		user_mail,
			user_nickname,
      		user_password
      	From users
   		 WHERE user_mail = #{user_mail};
  	</select>

  <!-- ユーザー追加 -->
  	<insert id="addUser" parameterType="com.example.lunchex.entity.Users">
    	INSERT INTO Users
     	 (
      		user_mail,
			user_nickname,
      		user_password
      	) 
    	VALUES 
      	(
      		#{user_mail}, 
      		#{user_nickname}, 
      		#{user_password}
      	);
  	</insert>

  	<!-- ユーザー更新 -->
  	<update id="updateUser" parameterType="com.example.lunchex.entity.Users">
    UPDATE users
    SET user_mail = #{user_mail}, 
      	user_nickname = #{user_nickname}, 
      	user_password = #{user_password}, 
    WHERE user_mail = #{user_mail};
  	</update>
  	
	<!-- ユーザー削除 -->
	<delete id="deleteDetail" parameterType="com.example.lunchex.entity.Users">
		DELETE FROM users
		WHERE user_mail = #{user_mail};
	</delete>
</mapper>